body {
	max-width: 992px;
	margin: 0 auto; 
	background-color: #f2e9e4;
	color: #22223b;
}

/* HEADER */

.header-home {
	background-image: url('../images/header_image.jpg');
	background-position: center;
	height: auto;
	color: #f2e9e4;
}

.header-home h1 {
	text-transform: uppercase;
}

.header-home p {
	font-size: 1.5rem;

}

.header-home button {
	text-transform: uppercase;
	font-weight: 600;
}

.header-home hr {
	border-top: 4px solid #9a8c98;
	width: 60px;
}

.uppercase {
	text-transform: uppercase;
}

.header-services {
	background: 
    linear-gradient(
      rgba(201,173,167,0.3), 
      rgba(201,173,167,0.3)
    ),
    url(../images/note-preview.jpg);
	background-position: center;
	height: auto;
	color: #f2e9e4;
}

.header-catalog {
	background: 
    linear-gradient(
      rgba(201,173,167,0.7), 
      rgba(201,173,167,0.7)
    ),
    url(../images/catalog.jpg);
	background-position: center;
	height: auto;
	color: #f2e9e4;
}

.header-pricing {
	background: 
    linear-gradient(
      rgba(201,173,167,0.7), 
      rgba(201,173,167,0.7)
    ),
    url(../images/pricing.jpg);
	background-position: center;
	height: auto;
	color: #f2e9e4;
}

.header-contact {
	background-image: url(../images/contact.jpg);
	background: 
    linear-gradient(
      rgba(201,173,167,0.0), 
      rgba(201,173,167,0.0)
    ),
    url(../images/contact.jpg);
	background-position: 50% 85%;
	background-size: auto;
	height: auto;
	color: #f2e9e4;
}

.header-shadow, h1 h6 {
	text-shadow: 2px 2px #22223b;
}

.bg-dark {
	background-color: #22223b !important;
}

.nav-link {
	color: #f2e9e4 !important;
	text-transform: uppercase;
	font-weight: 400;
}

.nav-link:hover {
	color: #c9ada7 !important;
}

.nav-link.active {
	color: #c9ada7 !important;
}

.right {
	margin-left: auto;
}

/* MAIN */

.background-primary {
	background-color: #ffffff;
}

.background-secondary {
	background-color: #f2e9e4;
}

.card-primary {
	background-color: #ffffff;
	border: none;
}

.card-secondary {
	background-color: #f2e9e4;
	border: none;
}

main .card i {
    font-size: 6rem;
    color: #9a8c98;
}

.link-no-style {
	color: inherit;
}

.link-no-style:hover {
	color: inherit;
    text-decoration: none;
}

.card-header {
	background-color: #ffffff;
	border-bottom: none;
}

main .nav-link, .dropdown-item {
	color: #22223b !important;
	text-transform: uppercase;
	font-weight: 400;
}

main .nav-link:hover, .dropdown-item:hover {
	color: #c9ada7 !important;
}


.gap {
	min-height: 4em;
}

a.btn-primary {
    color: #22223b;
    background-color: #9a8c98;
    border-color: #9a8c98;
}

a.btn-primary:hover {
    color: #22223b;
    background-color: #9a8c98;
    border-color: #c9ada7;
}

a.btn-primary:focus {
    color: #22223b !important;
    background-color: #c9ada7 !important;
    border-color: #c9ada7 !important;
    box-shadow: none;
}

/* FOOTER */

.footer {
	background-color:#22223b;
	position: relative;
	bottom: 0;
	width: 100%;
	max-width: 992px;
}

footer .card {
	background-color: #c9ada7;
}

footer .card-text {
	font-weight: 400;
}

footer .card hr {
	border-top: 2px solid #22223b;
	width: 40px;
}

.social {
	color: #c9ada7;
	font-size: 3rem;
}

.social a {
	color: #c9ada7;
	font-size: 3rem;
}

.social-icon {
	letter-spacing: -0.3em;
}

.hr-footer {
	border-top: 1px solid #c9ada7;
}

.copyright {
	color: #f2e9e4;
	text-align: center;
}
